<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила поиска по корпусу</title>
    <!-- Подключение Bootstrap CSS для стилизации элементов страницы -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Подключение пользовательского CSS для дополнительных стилей -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_project.css') }}">
</head>
<body style="background-color: rgb(242, 205, 172)"> <!-- Фоновый цвет страницы -->

<!-- Панель навигации со ссылками на основные страницы -->
<div class="navbar">
    <a href="{{ url_for('home') }}">Главная страница</a>
    <a href="{{ url_for('search') }}">Поиск по корпусу</a>
    <a href="https://github.com/kechsin/AHeroOfOurTime_Corpus/tree/main" target="_blank">Наш GitHub</a>
</div>

<!-- Приветственное сообщение для пользователей -->
<div class="welcome-message">
    <p>Добро пожаловать в корпус, основанный на произведении М. Ю. Лермонтова «Герой нашего времени».
       <br>Над проектом работали Алсу Хабирзянова, Анастасия Клёнова и Евгения Лепихина.</p>
</div>

<!-- Основной контейнер для контента страницы -->
<div class="container">
    <div class="row">
        <!-- Левая колонка с правилами ввода для поиска -->
        <div class="col-md-8">
            <div class="title">Правила ввода</div>
            <div class="meta-title">Поиск слова, встречающегося в любой грамматической форме</div>
            <div class="meta-information">
                <!-- Описание того, как искать слова в любой форме -->
                Для этого введите слово без кавычек в любой форме. Например, слово <i>поиск/поиска</i> найдет все предложения, где слово <i>поиск</i> встречается в любой грамматической форме.
            </div>
            <div class="meta-title">Поиск определенной словоформы</div>
            <div class="meta-information">
                <!-- Описание того, как искать определенные словоформы -->
                Для этого введите слово в нужной форме в кавычках. Например, <i>“поиска”</i> найдет все предложения, где слово встречается только в этой грамматической форме.
            </div>
            <div class="meta-title">Исключение неоднозначности слова</div>
            <div class="meta-information">
                <!-- Объяснение, как уточнить поиск по части речи -->
                Для этого введите слово и через плюс (без пробелов) напишите нужную часть речи (см. раздел <i>Как обозначать часть речи</i>). Например, <i>знать+NOUN</i> найдет все предложения, где встречается существительное <i>знать</i> во всех грамматических формах. Не используйте кавычки.
            </div>
            <div class="meta-title">Поиск части речи или сочетания частей речи. И возможные комбинации</div>
            <div class="meta-information">
                <!-- Описание различных вариантов поиска -->
                Для этого введите часть речи или несколько частей речи через пробел (см. раздел <i>Как обозначать часть речи</i>). Например, <i>NOUN VERB ADVB</i> — найдет все предложения с этой 3-граммой; <i>ADJ дом</i> — надет все предложения, где перед словом дом (в любой грамматической форме) будет стоять прилагательное; <i>знать+VERB "осенью" дубом</i> — найдет все предложения с этой 3-граммой, где будут глагол <i>знать</i> и существительное <i>дубом</i> во всех грамматических формах, а <i>осенью</i> в определенной грамматической форме; <i>NOUN</i> — найдет все предложения с существительными.
            </div>
        </div>

        <!-- Правая колонка с дополнительной информацией -->
        <div class="col-md-4">
            <div class="title-2">Особенности разметки</div>
            <div class="meta-information-2">
                <!-- Объяснение стиля разметки -->
                <b>Жирным</b> выделены искомые слова.
                <br><u>Подчеркнуты</u> слова с устаревшим значением.<br/>
            </div>
            <div class="title-3">Как обозначать часть речи</div>
            <div class="meta-information-2">
                <!-- Перечень обозначений частей речи -->
                <b>NOUN</b>: существительное;
                <br><b>VERB</b>: глагол;
                <br><b>ADJ</b>: прилагательное;
                <br><b>ADV</b>: наречие;
                <br><b>AUX</b>: вспомогательный глагол;
                <br><b>CCONJ</b>: сочинительный союз;
                <br><b>NUM</b>: числительное;
                <br><b>PART</b>: частица;
                <br><b>PRON</b>: местоимение;
                <br><b>PROPN</b>: имя собственное;
                <br><b>SCONJ</b>: подчинительный союз;
                <br><b>DET</b>: определитель;
                <br><b>ADP</b>: общий термин для предлогов и послелогов;
                <br><b>INTJ</b>: междометие;
                <br><b>X</b>: заимствованное слово латиницей.
            </div>
        </div>
    </div>
</div>

<!-- Контейнер для кнопки поиска -->
<div class="container">
    <div class="search">
        <!-- Форма для выполнения поиска по корпусу -->
        <form action="{{ url_for('search') }}" method="GET">
            <button type="submit" class="big-button">Поиск по корпусу</button>
        </form>
    </div>
</div>

<div style="height: 20px;"></div>

<!-- Подключение необходимых скриптов для работы Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
