blinker==1.8.2
click==8.1.7
DAWG-Python==0.7.2
docopt==0.6.2
Flask==3.0.3
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyngrok==7.2.0
PyYAML==6.0.2
Werkzeug==3.0.6
zipp==3.20.2
